
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  max-width: 1280px;
  
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



  
  body {
  background-image: url('https://t3.ftcdn.net/jpg/05/78/59/30/360_F_578593018_BdpR0ojho3IX3tdQNEM1A8NM8LQ65bVK.jpg');
  background-size: cover;
}  

 /* .products-page-container {
  min-height: 100vh;
  background-image: url('https://t3.ftcdn.net/jpg/05/78/59/30/360_F_578593018_BdpR0ojho3IX3tdQNEM1A8NM8LQ65bVK.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */


/* .header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3); 
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} */

.productsInfo {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-family: fantasy;
  list-style: none;
  margin-top: 60px;
  gap: 5 rem;
  
  
}


.productsCard {
  border: 1px  solid red;
  display: flex;
  flex-direction: column;
  color: yellow;
  list-style: none;
  width: 100%; 
  height: 100%;
  
  
}

.about-founder {
  margin: auto; 
  margin-top: 5rem;
  margin-bottom: 0rem;
  padding: 1rem;
  background-color: #f0f0f0; 
  max-width: 40%;
  max-height: 10%;
  text-align: center;
  overflow: auto;
  
}

.about-founder p {
  line-height: .95;
  margin: 0;
  font-size: 12px;
}


.founder-image {
  height: auto;
  max-width: 25%;
  padding: 5px;
}


.navbar {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px; 
}

.nav-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline; 
  margin-right: 20px; 
}

.nav-item a {
  text-decoration: none; 
  color: black; 
}

.nav-item a:hover {
  text-decoration: underline; 
}

/* create page */

/* .center-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh; 
} */

.create-navbar {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  margin-bottom: 500px;
  
}

.create-nav-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  color: pink;
}

.create-nav-item {
  display: inline; 
  margin-right: 50px;
  color: pink;
}

.create-nav-item a {
  text-decoration: none; 
  color: black;
}

.create-nav-item a:hover {
  text-decoration: underline;
}







